<header class="header__container header__container--layout header__container--dashboard">
    <div class="header__section header__section--title">
        <a class="header__item" href="/">MyHandballClub<span>.io</span></a>
    </div>

    <div class="header__section">
        <div class="header__item header__item--icon" id="header_icon">
            <img class="header__icon" src="/icons/mail-01.svg" alt="">
        </div>

        <div class="header__item header__item--profile" id="header_profile">
            <div class="header__image">
                <img src="/img/user/profile.jpeg" alt="Profile picture">
            </div>

            <img class="header__icon" src="/icons/chevron-down.svg" alt="Chevron down icon">

            <div class="header__submenu">
                <p>Déconnexion</p>
            </div>
        </div>
    </div>
</header>