<nav class="nav__container nav__container--layout">
    <div class="nav__section">
        <div class="nav__item">Tableau de bord</div>
        <div class="nav__item nav__item--active">Paramètres</div>
    </div>
</nav>