<!DOCTYPE html>
<html lang="fr">

<%- include('../partials/layouts/head'); %>

<body>

<%- include('../partials/layouts/header'); %>

<main>
    <div class="input__container">
        <label class="input__label" for="input">Adresse email</label>
        <div class="input__input-container input__input-container--default">
            <input class="input__input" id="input" type="text" name="input" placeholder="Adresse email">
            <img class="input__icon input__icon--after" src="/icons/alert-circle-red.svg" alt="">
        </div>

        <p class="input__hint">Veuillez indiquer votre adresse email</p>
    </div>
</main>

</body>

</html>