<!DOCTYPE html>
<html lang="fr">

<%- include('../../partials/layouts/head'); %>

<body>

<%- include('../../partials/layouts/header'); %>

<%- include('../../partials/layouts/nav'); %>

<main class="main__container main__container--dashboard">
    <header class="header__container header__container--component">
        <h1 class="header__title"><%= title %></h1>
    </header>

    <section></section>
</main>

</body>

</html>